.flickrTag_container a.flickr,
.flickrTag_container img.flickr {
	border: 0px;
	text-decoration: none;
}

.flickrTag_container img.set, .flickrTag_container img.tag, .flickrTag_container img.photostream, .flickrTag_container img.group {
	margin-right: 5px;
	margin-bottom: 5px;
}


.flickrTag_error p {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}

.flickrTag_error {
	background: #FFEFF7 none repeat scroll 0%;
	border: 1px solid #CC6699;
}

.flickrTag_error ul {
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
}

.flickrTag_error li {
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
}

