body{margin:0;padding:0;font-family:calibri,tahoma,arial,sans-serif}#links{display:none}#content{width:100%;margin:0;padding:0}#container{width:100%;position:relative;margin:0;padding:0}.blog{padding:0}
/* ph=1 */
/* nhm:from_kauri */
