/* ------------------------------------------------------------------------------------------------

   Squarespace Core CSS Definitions DO NOT REPLACE.  DO NOT IMPORT THIS FILE.  All definitions are needed.
   Override as required from Custom CSS only!

------------------------------------------------------------------------------------------------ */

@media screen { 


/* --- core elements --------------------------------------------------------------------------- */

html { height: 100%; }
img { border: 0 none; -ms-interpolation-mode: bicubic; }
body { border: 0px; height: 100%; margin: 0px; padding: 0px; }
td { background: transparent; border: 0px; margin: 0px; padding: 0px; }
p { margin-bottom: 1em; margin-top: 0em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0px; padding: 0px; }
ul { list-style-type: square; /* naturally. */ margin: 1em 0 1em; padding: 0; padding-left: 2em; }
form { margin:0; padding: 0; }

a { -moz-outline:none; } 
  
input.button, input.button[disabled] { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; }
input.button-important { font-size: 12px; padding: 2px 5px 3px 5px; -moz-outline: 0; font-weight: bold; }  
input.text, input.text-fixed, textarea, select { font: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; }
input.text { width: 300px; }
input.text-fixed { width: 300px; }
textarea { height: 120px; }

.clearer { clear: both; line-height: 0; height: 0; }
.templateErrors { display: none; }

#bodyClearer { display: none; }

 
/* --- image defaults -------------------------------------------------------------------------- */

.thumbnail, .picture-full, .picture img, .thumbnail-image-float-left img, .thumbnail-image-float-right img, .thumbnail-image-float-none img { }
#main-picture-wrapper { line-height: 1px; }

     
/* --- core squarespace elements --------------------------------------------------------------- */

#sidebar2Wrapper { display: none; } 
#siteTitle, #pageFooterWrapper, #pageBodyWrapper { clear: both; } 
#canvasWrapper, #content, #sidebar1, #sidebar2 { overflow: hidden; }
#bannerWrapper { line-height: 0; }
#active-module-marker { display: none; }
  
.folder-link { -moz-outline: 0; }

.verticalNavigationBar .folder-open a.folder-link { background: transparent url(folder-contract.png) center left no-repeat; padding-left: 15px; }
.verticalNavigationBar .folder-open ul { }
.verticalNavigationBar .folder-closed a.folder-link{ background: transparent url(folder-expand.png) center left no-repeat; padding-left: 15px; }

.folder-closed .folder-wrapper ul { display: none; }

.horizontalNavigationBar { width: 1033px; }
.horizontalNavigationBar .content-navigation { float: left; }
  
.horizontalNavigationBar .folder-open .folder-wrapper .module a { margin-left: 0; }
.horizontalNavigationBar .folder-open .folder-wrapper a.folder-link { }
.horizontalNavigationBar .folder-open .folder-wrapper { z-index: 999; } 
.horizontalNavigationBar .folder-open .folder-wrapper ul { display: block; position: absolute; } 
.horizontalNavigationBar .folder-open .folder-wrapper ul li { float: none; }

.horizontalNavigationBar .folder-wrapper ul { position:relative; z-index:999;  } /* ensures flash works properly in headers */
  
.horizontalNavigationBar ul { list-style-type: none; padding: 0; margin: 0; }
.horizontalNavigationBar ul li { float: left;  padding: 0; margin: 0; }
.horizontalNavigationBar ul li a { display: block; }
  
.inline-icon { margin-right: 4px; vertical-align: middle; }   
.error-box { background-color: #990000; color: #$ErrorColorOpposite$; padding: 15px; margin-top: 1em; }
.error-text, .error-text a:link, .error-text a:visited, .error-text a:active, .error-text a:hover { color: #990000; }
.input-with-error { border: 2px solid #990000 !important; }
.faded-text { color: #$InactiveTextColor$; }

.offsite-link {         background: transparent url(open-off-site.png) center right no-repeat; padding-right: 13px; margin-right: 1px; }
.offsite-link-inline {  background: transparent url(open-off-site.png) center right no-repeat; padding-right: 13px; margin-right: 1px; }
.folder-link-expand {   background: transparent url(folder-expand.png) center center no-repeat;   padding: 0 6px 0 6px; line-height: 9px; font-size: 9px; cursor: pointer; }
.folder-link-contract { background: transparent url(folder-contract.png) center center no-repeat; padding: 0 6px 0 6px; line-height: 9px; font-size: 9px; cursor: pointer; }


/* --- image floating / editor constructs ------------------------------------------------------ */

.thumbnail-image-float-left { float: left; margin: 0px 10px 8px 0px; }
.thumbnail-image-float-right { float: right; margin: 0px 0px 8px 10px; }
.thumbnail-image-block { display: block; }
.thumbnail-image-inline { display: inline; }
  
.thumbnail-image-float-left img, .thumbnail-image-float-right img , .thumbnail-image-float-none img { border: 1px solid #ccc; text-decoration: none; }

.full-image-float-left { float: left; margin: 0px 10px 8px 0px; }
.full-image-float-right { float: right; margin: 0px 0px 8px 10px; }
.full-image-block { display: block; }
.full-image-inline { display: inline; }
 
.full-image-float-left img, .full-image-float-right img , .full-image-float-none img { text-decoration: none; }

.thumbnail-caption { display: block; font-size: 9px; font-family: Verdana, sans-serif; line-height: 14px; padding-top: 5px; padding-bottom: 10px;  }
   

/* --- LEGACY constructs ----------------------------------------------------------------------- */

.sizeLess40 { font-size: 60%; }
.sizeLess20 { font-size: 80%; }
.sizeGreater20 { font-size: 120%; }
.sizeGreater40 { font-size: 140%; } 
.sizeGreater60 { font-size: 160%; }
.sizeGreater80 { font-size: 180%; }
.sizeGreater100 { font-size: 200%; }


/* --- squarespace document construction elements ---------------------------------------------- */

.document-heading { margin-bottom: 1.8em; }
.document-title { margin-bottom: .8em; }
.header { margin-bottom: 2em; }
.body { margin-bottom: 2em; margin-top: 1em; } 
.body-direct { margin-bottom: 2em; }
.footer { margin-top: 2em; clear: both; }
.field { margin-bottom: 1em; clear: both; }


/* --- squarespace form module components ----------------------------------------------------- */

.form-body { list-style-type: none; padding: 0; margin: 0; }

.form-body .fieldContainer {       padding: 5px 0px 5px 0px; margin: 0; clear: both; }
.form-body .fieldContainerActive { padding: 5px 0px 5px 0px; margin: 0; clear: both; }
.form-body .fieldContainerNew {    padding: 5px 0px 5px 0px; margin: 0; clear: both; }

.form-body .fieldTitle { font-weight: bold; padding-bottom: 3px; font-size: 12px; }
.form-body .fieldHelp { font-size: 9px; padding-top: 4px; }
.form-body .fieldObjects { }
.form-body .fieldRequiredStar { color: #990000; }
.form-body .fieldAugmentedLink { font-weight: normal; font-size: 9px; } 

.form-body .formTitle { font-weight: normal; font-size: 12px; padding-bottom: 1em; }
.form-body .formCaption { font-weight: bold; font-size: 12px; padding-bottom: 3px; line-height: 17px; }
.form-body .formErrorMessage { font-size: 12px; padding-top: 1em; }

.form-body .sectionBreak { padding-top: 4px; }
.form-body .optionRow { padding-top: 2px; }

.form-body .singlelinetext-small  { width: 100px; }
.form-body .singlelinetext-medium { width: 180px; }
.form-body .singlelinetext-large  { width: 340px; }

.form-body .singlelinetext-small-inline  { width: 94%; }
.form-body .singlelinetext-medium-inline { width: 94%; }
.form-body .singlelinetext-large-inline  { width: 94%; }

.form-body .paragraphtext-small  { height: 70px;  width: 94%; }
.form-body .paragraphtext-medium { height: 100px; width: 94%; }
.form-body .paragraphtext-large  { height: 200px; width: 94%; }
 
.form-body .paragraphtext-small-inline  { height: 70px;  width: 94%; }
.form-body .paragraphtext-medium-inline { height: 100px; width: 94%; }
.form-body .paragraphtext-large-inline  { height: 200px; width: 94%; }
  
.form-body #username, .form-body #password { width: 160px; }

.submit-button { width: 120px; margin-top: 2em !important; }


/* --- squarespace specifics ------------------------------------------------------------------- */

.journal-filter-header { margin-bottom: 15px; padding-bottom: 10px; }
.journal-navigation { margin-top: 2em; clear: both; }

.journal-comment-area { margin-top: 25px; padding-top: 15px; }
.journal-comment-area .caption { }
.journal-comment-area .text { }
.journal-comment-area-disabled-text { margin-top: 2em; }

.journal-reference-area { margin-top: 25px; padding-top: 15px; }
.journal-reference-area .caption { margin-bottom: 1em; }
.journal-reference-area .text { }

.journal-entry-navigation { margin-bottom: 2em; }

.journal-entry { margin-bottom: 2em; }
.journal-entry .title { }
.journal-entry .tag { clear: both; }
.journal-entry .body { margin: 1em 0 1em 0; }
.journal-entry .enclosure { background-image: url(file.png); background-position: left center; background-repeat: no-repeat; padding-left: 22px; }

.journal-entry-follow-up { clear: both; margin-bottom: 1em; padding-left: 12px; } 
.journal-entry-follow-up .follow-up-caption { margin-bottom: 1em; }
.journal-entry-follow-up .follow-up-body { }
 
.journal-entry-references { margin: 15px 0 15px 0; padding: 0; list-style-type: none; }
.journal-entry-references li { margin: 0; clear: both; margin-bottom: 8px; height: 1%;  }
.journal-entry-references li .icon-area { float: left; width: 20px; }
.journal-entry-references li .text-area { margin-left: 20px; height: 1%;  }
.journal-entry-references li .text-area .headline { }
.journal-entry-references li .text-area .headline .type { font-weight: bold; }
.journal-entry-references li .text-area .headline .title { }
.journal-entry-references li .text-area .author-byline { font-size: 10px; line-height: 14px; margin: 2px 0 0 0; padding: 0; }
.journal-entry-references li .text-area .excerpt { font-size: 10px; line-height: 14px; margin: 2px 0 0 0; padding: 0; }
  
.journal-entry-tag .posted-in .tag-element, .journal-entry-tag .posted-on, .journal-entry-tag .posted-by, .journal-entry-tag .post-comments, .journal-entry-tag .post-references { white-space: nowrap; }

.journal-entry-tag-post-body { clear: both; }

.journal-entry-float-date, .journal-entry-float-date span { display: none; }
.journal-entry-float-day, .journal-entry-float-day span { display: none; }
.journal-entry-float-time, .journal-entry-float-time span { display: none; }
  
.journal-archive-set ul { margin-top: 1em; }

.unpublished { color: #$InactiveTextColor$; }

.amazon-item-list { padding: 0; }
.amazon-item-list li { list-style-type: none; margin-bottom: 10px; height: 1%; }
.amazon-item-list li .picture { float: left; overflow: hidden; }
.amazon-item-list li .description { height: 1%; margin-bottom: 15px; margin-left: 90px; }
.amazon-item-list li .description .authors { margin-bottom: 15px; } 
.amazon-item-list li .description .text { margin-bottom: 15px; }
.amazon-item-list li .description .amazon-link { }

.gallery-navigation { margin-bottom: 15px; margin-top: 15px; } /* compatibility */
.gallery-description { margin-top: 5px; clear: both; }

.gallery-navigation-top  { padding-bottom: 12px; text-align: left; }
.gallery-navigation-bottom  { padding-top: 12px; text-align: left; }

.picture-full { clear: both; }
 
#main-picture-description-title { padding-bottom: 1em; }

.picture-gallery-list { padding: 0; margin: 0; } 
.picture-gallery-list li { list-style-type: none; margin-bottom: 12px; height: 1%;  }
.picture-gallery-list li .thumbnail { }
.picture-gallery-list li .thumbnail-wrapper { display: inline-block; }
.picture-gallery-list li .thumbnail-wrapper a { display: block; }
.picture-gallery-list li .thumbnail-container { float: left; line-height: 0; }
.picture-gallery-list li .thumbnail-container-with-description, .picture-gallery-list li .thumbnail-container-tiled { line-height: 0; }
.picture-gallery-list li .description { } 
.picture-gallery-list li .description .caption { margin-bottom: 5px; }
.picture-gallery-list li .description .author { margin-bottom: 5px; margin-top: 5px; } 
.picture-gallery-list li .description .text {  }
.picture-gallery-list li .description ul { margin-top: 1em; }
.picture-gallery-list li .description ul li { list-style-type: square; display: list-item; }

.picture-gallery-thumbnail-list { padding: 0; margin: 0; }
.picture-gallery-thumbnail-list li { list-style-type: none; height: 1%; display: inline;  }
.picture-gallery-thumbnail-list li .thumbnail { display: inline; }
.picture-gallery-thumbnail-list li .thumbnail-container-tiled { float: left; margin-bottom: 12px; margin-right: 12px;  }
.picture-gallery-thumbnail-list li .thumbnail-container-with-description { float: left; margin-bottom: 12px;  }
.picture-gallery-thumbnail-list li .description { margin-bottom: 1em; height: 1%; overflow: hidden; }
.picture-gallery-thumbnail-list li .description ul { margin-top: 1em; }
.picture-gallery-thumbnail-list li .description ul li { list-style-type: square; display: list-item; }

.picture-gallery-thumbnail-scroll-right, .picture-gallery-thumbnail-scroll-left { background-color: #D6D6D6; width: 10px; height: 55px; margin: 0; padding: 0; border: 0; -moz-outline: 0 }
.picture-gallery-thumbnail-scroll-right { margin-left: 3px; }
.picture-gallery-thumbnail-scroll-left { margin-right: 3px; }

.file-item-list { padding: 0; }
.file-item-list li { list-style-type: none; margin-bottom: 10px;  height: 1%; clear: both; }
.file-item-list li .icon { float: left; display: block; line-height: 14px; }
.file-item-list li .content { height: 1%; margin-left: 22px; }
.file-item-list li .title { display: inline;  }

.folder-item-list { }
.folder-item-list li { margin-bottom: 1em; }

.link-group-list { padding: 0; }
.link-group-list li { list-style-type: none; margin-bottom: 1.5em; }
.link-group-list li ul { margin-top: 1em; }
.link-group-list li ul li { list-style-type: square; margin-bottom: .5em;  }
.link-group-list li ul li .title { }
.link-group-list li ul li .description { }
 
 /* V1 */
.discussion-comment-list { margin: 0; padding: 0;  }
.discussion-comment-list li { list-style-type: none; background: transparent url(comment.png) no-repeat 0px 1px; padding-bottom: 10px; margin-top: 10px; padding-left: 22px; border-bottom: 1px solid #$LightBorderColor$;  }
.discussion-comment-list li:last-child { border: 0; margin-bottom: 0; padding-bottom: 0; }
.discussion-comment-list li .post-title { display: inline; }

 /* V2 */
 .discussion-table { width: 100%; }
.discussion-table .inline-icon { display: none; }

.discussion-table-header td { font-weight: bold; font-size: 12px; padding: 2px; }
.discussion-table-header .replycount-cell, .discussion-table-header .viewcount-cell { text-align: center; }
  
.discussion-table-row td { padding: 2px; }

.discussion-table-row .icon-cell { width: 22px; background: transparent url(comment.png) no-repeat 1px 10px; }
  
.discussion-table-row .topic-cell { padding: 7px 0 5px 0; }
.discussion-table-row .topic-cell .topic-text { font-size: 14px; }
.discussion-table-row .topic-cell .topic-author { font-size: 11px; }
.discussion-table-row .topic-cell .topic-created { display: none; }
 
.discussion-table-row .replycount-cell { text-align: center; font-size: 26px; }
.discussion-table-row .viewcount-cell { text-align: center; }
  
.discussion-table-row .updated-cell { font-size: 10px; }
.discussion-table-row .updated-cell .reply-author { display: none; }

.discussion-table-header .viewcount-cell, .discussion-table-row .viewcount-cell { display: none; }
   
  
.comment { margin-top: 1em; padding-bottom: 1em; }
.comment .body { margin-top: 1em; }
.comment .signature { margin-top: .5em; text-align: right; }

.change-list { margin: 0; padding: 0; }
.change-list li { background: no-repeat 0px 1px; border-bottom: 1px solid #CCCCCC; display: block; list-style-type: none; margin: 0; margin-bottom: 1.2em; padding: 0; padding-bottom: 1.2em; padding-left: 28px; }
.change-list li:last-child { border: 0; margin-bottom: 0; padding-bottom: 0; }

.input-field { margin-bottom: 1em;  }
.input-field .title { margin-bottom: 5px; }
.input-field .control { }

.input-field-error { font-weight: bold; margin-bottom: 5px; }

.table .row { clear: both; } 
.table .left { float: left; margin: 5px; text-align: right; width: 100px; }
.table .right { margin-bottom: 5px; margin-left: 100px; }

.notice-box { margin-bottom: 2em; }
.notice-box .caption { display: inline; }
.notice-box .caption-text { margin-top: 1em; margin-bottom: 2em; }
.notice-box .link-field-title { font-weight: bold; padding-bottom: 10px; margin-top: 1em; }
.notice-box .link-field-text {  }

.notice-box textarea { width: 99%; }
  
.notice-box-alert { margin-bottom: 1em; padding: 1em; }
.notice-box-alert .icon { float: left; }
.notice-box-alert .text { height: 1%; margin-left: 22px; }

#squarespace-powered { padding: 0; }
#squarespace-powered-text { padding: 0; font-size: 80%; }

.search-form .queryFieldWrapper { display: block; float: left; }
.search-form .queryField { font-size: 18px; padding: 3px; }
.search-form .queryButtonWrapper { display: block; float: left; padding-left: 15px;  }
.search-form .queryButton { }
.search-form #advancedSearchOptionsLink { font-size: 9px; margin-top: 3px; }
.search-form .advanced-search-group-label { margin: 1em 0 1em 0; }

.search-results { margin-top: 2em; }
.search-result { margin-bottom: 20px; }
.search-result .search-result-number { display: none; float: left; font-size: 30px; }
.search-result .search-result-entry { }
.search-result .search-result-title { font-size: 18px; }

.search-result .search-result-tag { font-size: 10px; font-weight: normal; } 
.search-result .search-result-type { }
.search-result .search-result-author { }
.search-result .search-result-date { }

.search-result .search-result-body { margin-top: 4px; font-size: 12px; }

.search-result .search-result-title .hit-word-title { font-weight: bold; }
.search-result .search-result-body .hit-word-body { font-weight: bold; font-size: 120%; }
  
.faq-category-list { padding: 0; margin: 0; }
.faq-category-list li { list-style-type: none; margin-bottom: 20px; }
.faq-category-list li { }

.faq-question-list { margin-top: 1em; }
.faq-question-list li { list-style-type: square; margin-bottom: 6px; }
.faq-question-list li .title { } 
.faq-question-list li .description { margin-bottom: 15px; }

.faq-entry-count { font-size: 13px; }
.faq-entry .text { }
.faq-entry .tag { font-size: 10px; }

.google-map { width: 100%; height: 400px; }


/* --- journal summary ------------------------------------------------------------------------ */
 
.nugget-item-list-pt .slug-above { display: none; }
.nugget-item-list-pt .slug-below { display: none; }
.nugget-item-list-pt .summary-item-wrapper { float: left; overflow: hidden; height: 175px; width: 175px; margin: 15px 15px 0 0; text-align: left; }
.nugget-item-list-pt .summary-item{ padding: 15px; }
.nugget-item-list-pt .title { font-weight: bold; } 

.summary-item-list-pt .slug-above { display: none; }
.summary-item-list-pt .slug-above, .summary-item-list-pt .slug-below { font-size: 9px; }
.summary-item-list-pt .summary-item-wrapper {padding-bottom: 10px !important; display: block; }
.summary-item-list-pt .pre-date-breaker { display: none; }
.summary-item-list-pt .pre-comments-breaker { padding: 0 5px 0 5px; }
.summary-item-list-pt .title { font-weight: bold; }
.summary-item-list-pt .summary-item-wrapper.highlight .title { font-size: 22px; line-height: 24px; padding-bottom: 3px; }
.summary-item-list-pt .summary-item-wrapper.highlight { padding-bottom: 20px !important; }
.summary-item-list-pt .summary-item-wrapper.highlight .slug-above { display: block; }
.summary-item-list-pt .summary-item-wrapper.highlight .slug-below { display: none; }

  
/* --- microblogging -------------------------------------------------------------------------- */
  
.quick-post .description { margin-top: 1em; }
.quick-post .embed { margin-top: 1em; }
.quick-post .image { margin: 1em 0 1em 0; }
.quick-post .dialogue { margin-top: 1em; }
  
.post-data-link .link-arrow, .post-data-delicious .link-arrow, .post-data-digg .link-arrow, .post-data-stumbleupon .link-arrow, .post-data-lastfm .link-arrow  { font-size: 80%; } 
  
.post-data-chat .dialogue .line { }
.post-data-chat .dialogue .line .speaker { display: block; }

.post-data-quote .source { display: inline; }
.post-data-quote .source p { display: inline; }

  
/* --- packed / quick posts ------------------------------------------------------------------ */
  
.packed-posts-wrapper { display: none; }
.packed-posts-wrapper .packed-post { padding-top: 10px; }

.quick-post .packed-post-date { }
.quick-post .packed-post-date-tight { margin-top: -12px; } 

.journal-quickpost-tag-post-body .stacked-link, .journal-quickpost-tag-post-body .initial-stacked-link { float: left; }

.quickpost-external-service-tag a { padding-left: 20px; background-repeat: no-repeat; background-position: center left; }
  
  
/* --- feeds ----------------------------------------------------------------------------------- */

.feed-list, .feed-list-inline { padding: 0; }
.feed-list li, .feed-list-inline li { list-style-type: none; margin: 0; padding: 0; }

.feed-list .feed-link { padding-left: 22px; background-image: url(feed-icon-16x16-orange.png); background-repeat: no-repeat; background-position: center left; }
.feed-list-inline .feed-link { padding-left: 16px; background-image: url(feed-icon-12x12-orange.png); background-repeat: no-repeat; background-position: center left; }

  
/* --- social links ---------------------------------------------------------------------------- */
  
.social-link-list-pt li {  display: block; }
.social-link-list-pt li a.icon-link { padding: 2px 0px 2px 20px; background-repeat: no-repeat; background-position: center left; }
  

/* --- social objects -------------------------------------------------------------------------- */

.twitter-update-wrapper .item-date, .digg-link-wrapper .item-date, .delicious-link-wrapper .item-date, .imported-rss-article-wrapper .item-date { display: block; }
.flickr-image-wrapper { display: block; float: left; line-height: 1px; }

/* --- social widgets ---------------------------------------------------------------------- */

/****** Twitter *******/
.twitter-wrapper { overflow: hidden; }
.twitter-wrapper .twitter-item-slug a, .twitter-wrapper .twitter-nav-buttons a { text-decoration:none; }
.twitter-wrapper a:active { outline:none; }

/****** Twitter Footer - Follow Me Links *******/
#canvas .twitter-link a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; }
.twitter-link img { float:left; width:16px; height:16px; margin-right:5px; }
.twitter-link img.avatar { width:14px; height:14px; border:1px solid #fff; }

/****** Twitter Widget Navigation *******/
.twitter-nav-buttons { clear:both; font-size:11px; line-height:1em; }
.twitter-wrapper .twitter-nav-buttons a { padding:10px 0; }
a.twitter-button-newer { display:block; float:left; }
a.twitter-button-older { display:block; float:right; }

/******** General *********/
.twitter-wrapper .primary, .twitter-wrapper .secondary .primary { overflow:hidden; }	
#canvas .twitter-wrapper .twitter-date a, #canvas .twitter-wrapper .twitter-date a:hover { display:inline-block; }
#canvas .twitter-wrapper.wrapper .twitter-date a, #canvas .twitter-wrapper.wrapper .twitter-date a:hover { display:block; } 	
.twitter-avatar { float:left; margin:0 0.9em 0 0; height:34px; }
.twitter-avatar img { width:30px; height:30px; border:2px solid #fff; }

/******** Basic Preset **********/
.basic .twitter-username a { font-weight:bold; font-size:1.2em; }
.basic .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }

/********* Bubble Preset ***********/
.bubble .twitter-content { padding:15px 15px 0; margin-bottom:15px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.bubble .twitter-item-bubble { margin-top:15px; }
.bubble .twitter-item-bubble.highlight { margin-top:0; }
.bubble .twitter-item-content-bubble { background:#fff; color:#111; padding:1em; -moz-border-radius:8px; -webkit-border-radius:8px; }
.bubble .twitter-item-slug { background:url(bubble-stem.png) 22px top no-repeat; padding:22px 0 0; line-height:1.4em; }
.bubble .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }
.bubble .twitter-content { padding:15px; margin-bottom:0; }

/*********** Blocks Preset ***********/
.block .twitter-content { margin-bottom:15px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.block .twitter-item { margin:0; }
.block .twitter-item-content { padding:1em; }
.block .twitter-item-slug { padding:10px; line-height:1.4em; }
.block .twitter-username a { font-weight:bold; }
.block .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border:none; }
.block .twitter-content { margin-bottom:0; }

/******** Chunk Preset **********/
.chunk .twitter-content { margin-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.chunk .twitter-header { padding:10px; }
.chunk .twitter-avatar { height:44px; }
.chunk .twitter-avatar img { width:40px; height:40px; }
.chunk .twitter-name { font-weight:bold; font-size:15px; }
.chunk .twitter-username a {  font-size:11px; }
.chunk .twitter-item { padding:10px; margin-top:1px; }
.chunk .twitter-item.highlight { margin-top:0; }
.chunk .twitter-nav-buttons a { padding:10px; }

/******** Wrapper Preset ***********/
.wrapper .twitter-item { margin-bottom:10px; padding-bottom:15px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.wrapper .twitter-item-content { padding:1em; font-size:1.3em; line-height:1.6em; overflow:hidden; } 
.wrapper .twitter-item-slug { margin-right:15px; padding:10px; padding-left:15px; line-height:1.4em; }
.wrapper .twitter-name a { font-weight:bold; font-size:1.2em; }
.wrapper .twitter-nav-buttons { padding:0 10px; margin:10px 0; -moz-border-radius:4px; -webkit-border-radius:4px; }
	
	
/*** Flickr ***/

/*** Grid Preset ***/
.flickr-wrapper ul.flickr-grid, .flickr-wrapper ul.flickr-grid li { margin:0; padding:0; line-height:0; list-style:none; }
.flickr-wrapper { width:100%; }
.flickr-content { width:100%; }
.flickr-grid-wrapper { margin:0 auto; margin:0 auto; width:100%; }


/****** Flickr Footer - Photostream Link *******/
#canvas .flickr-link a { display:block; -moz-border-radius:4px; -webkit-border-radius:4px; }
.flickr-link img { float:left; width:16px; height:16px; margin-right:5px; }
.flickr-link img.avatar { width:14px; height:14px; border:1px solid #fff; }

/*** RSS Social ***/
.rss-wrapper a { display:block; }
.rss-wrapper .rss-description span a { display:inline; }

/* --- navigation bar elements ----------------------------------------------------------------- */

.content-passthrough .amazon-item-list-pt li { margin-bottom: 10px; }
.content-passthrough .amazon-item-list-pt .picture { float: none; margin: 0; margin-bottom: .5em; padding: 0; }
.content-passthrough .amazon-item-list-pt .description { margin: 0; }
.content-passthrough .amazon-item-list-pt .description .title { }
.content-passthrough .amazon-item-list-pt .description .authors { display: inline; }
.content-passthrough .amazon-item-list-pt .description .text { margin-top: .5em; }

.content-passthrough .change-list-pt { margin: 0; }
.content-passthrough .change-list-pt li { margin-bottom: .4em; }

.content-passthrough .archive-item-list-pt { margin: 0; margin-bottom: 1em; }
.content-passthrough .archive-item-list-pt li { margin-bottom: .4em; }

.content-passthrough .link-group-list-pt { margin-bottom: .5em;  }
.content-passthrough .link-group-list-pt li .title { font-weight: bold; }
.content-passthrough .link-group-list-pt li .description { }
.content-passthrough .link-group-list-pt li ul { margin-bottom: 10px;  }
.content-passthrough .link-group-list-pt li ul li { margin-bottom: 2px;  }
.content-passthrough .link-group-list-pt li ul li .title { font-weight: normal; }
.content-passthrough .link-group-list-pt li ul li .description { }

.content-passthrough .search-form-pt { height: 1%; }
.content-passthrough .search-form-pt .queryFieldWrapper { display: block; float: left; }
.content-passthrough .search-form-pt .queryField { font-size: 10px; padding: 3px; }
.content-passthrough .search-form-pt .queryButtonWrapper { display: block; float: left; padding-left: 10px;  }
.content-passthrough .search-form-pt .queryButton { }
  
#sidebar1 .content-passthrough .search-form-pt .queryField { width: 130px; }
#sidebar2 .content-passthrough .search-form-pt .queryField { width: 87px; }

.section ul { margin: 0; padding: 0; } 
.section ul li { list-style-type: none; margin: 0; padding: 0; }

.inline-icon { height: 14px; width: 14px; }

.date-icon { background: transparent url(date.png) top left no-repeat; }
.permalink-icon { background: transparent url(permalink.png) top left no-repeat; }
.comment-icon { background: transparent url(comment.png) top left no-repeat; }
.user-registered-icon { background: transparent url(user-registered.png) top left no-repeat; }
.reference-icon { background: transparent url(reference.png) top left no-repeat; }
.print-icon { background: transparent url(print.png) top left no-repeat; }
.email-icon { background: transparent url(email.png) top left no-repeat; }
.share-icon { background: transparent url(share.png) top left no-repeat; }
.category-icon { background: transparent url(category.png) top left no-repeat;  }
.tag-icon { background: transparent url(category.png) top left no-repeat;  }

.social-link-controls .social-block-title { padding-bottom: 15px; font-family: Arial; letter-spacing: -1px; font-weight: bold; }
.social-link-controls .social-block { height: 22px; width: 155px; float: left; display: block; }
.social-link-controls { padding: 15px; height: 205px; border: 2px solid #ccc; font: 14px/16px Arial; background: #fefefe; color: #303030; text-align: left; }
.social-link-controls-wrapper { display: block; opacity: 0; filter:alpha(opacity=0); width: 350px; position: absolute; overflow: hidden;  }

     
/* --- standard button definitions ---------------------------------------------------------- */
  
a.button {
    background: transparent url(button-a.png) no-repeat scroll top right;
    color: #151515 !important;
    display: block;
    float: left;
    font: 12px arial, sans-serif !important;
    height: 24px !important;
    line-height: 18px  !important;
    margin-right: 6px !important;
    padding: 0 16px 0 0 !important;
    text-decoration: none !important;
}

a.important {
    font-weight: bold !important; 
}

a.button span {
    background: transparent url(button-span.png) no-repeat;
    display: block;
    line-height: 14px !important;
    padding: 5px 0 5px 18px !important;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    -moz-outline: 0;
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px !important;
}
  
}



/* --- printer stylesheet definitions ---------------------------------------------------------- */

@media print {

  body { background: white; font-size: 12pt; width: 100%; }
	
  h1 { font-size: 24pt; margin-bottom: 0; padding-bottom: 0; }
  .h1subtitle { font-size: 9pt; font-weight: normal; margin-bottom: 25px; border-bottom: 1px solid #ccc; padding-bottom: 10px; text-decoration: none; }
  #pageFooter { font-size: 9pt; margin-top: 28px; border-top: 1px solid #ccc; padding-top: 8px; }

  body div { width: 92%; }
  img { border: 0px; }
	
  a:link, a:visited { color: #520; background: transparent; font-weight: bold; text-decoration: underline; }
  strong { color: #000; }
  #siteTitle a:link, #siteTitle a:visited { color: black; background: transparent; font-weight: bold; text-decoration: none; }
  .journal-navigation, .horizontalNavigationBar, #sidebar1Wrapper, #sidebar2Wrapper #sidebar, .notice-box, .inline-icon, .journal-entry-navigation { display: none; }

}

.horizontalNavigationBar .active-module a{color: #0A92BF;}
.journal-entry-date-break{padding-right: 5px; padding-left: 5px; margin-bottom: 15px; background-color: #FFFFFF; color: #767676;}
.journal-entry-tag-pre-title{font-size: 11px; padding-right: 5px; padding-left: 5px; margin-bottom: 15px; background-color: #FFFFFF; color: #767676;}
.journal-entry-tag-post-title{font-size: 10px; text-transform: uppercase; padding-top: 0px; padding-bottom: 0px; color: #A6A6A6;}
.journal-entry-tag-post-body{font-size: 11px; color: #999999;}
.horizontalNavigationBar .folder{border-bottom: 1px solid #000000; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; background-color: #FFFFFF; border-color: #000000;}
.comment{padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; background-color: #E6F2F1;}
.comment .signature{font-size: 10px; border-top: 1px solid #CED9D8; padding-top: 2px; padding-bottom: 0px; border-color: #CED9D8;}
#navigationTop .horizontalNavigationBar{border-bottom: 1px solid #000000; line-height: 1.7em; font-weight: bold; margin-right: 0px; margin-bottom: 20px; border-color: #000000;}
.verticalNavigationBar .section .caption{font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; font-size: 12px; text-transform: uppercase; font-weight: bold; margin-bottom: 0px; color: #333333; border-color: #ACACA3;}
body{font-family: 'Times New Roman', Palatino, serif; font-size: 14px; line-height: 1.8em; padding-left: 1px; margin-right: auto; margin-left: auto; background-color: #FFFFFF; color: #262626;}
a:link, a:visited, a:active{font-family: Georgia, 'Times New Roman', serif; text-decoration: none; color: #066486;}
h1 a:visited, h1 a:link, h1 a:active{font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 55px; border-bottom: 0px null inherit; text-transform: uppercase; letter-spacing: 0px; line-height: 0.72em; font-weight: bold; color: #0A92BF;}
#navigationBottom .horizontalNavigationBar{border-bottom: 1px solid #000000; line-height: 1em; font-weight: bold; margin-right: 0px; margin-top: 18px; margin-bottom: 0px; border-color: #000000;}
.notice-box{padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px; background-color: #EFF2E6;}
h2, .h2, .journal-entry .title a{font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; font-size: 18px; text-transform: uppercase; letter-spacing: 0px; line-height: 1em; font-weight: normal; text-decoration: none; margin-top: 6px; margin-bottom: 6px; color: #333333;}
h3, .h3, .form-body .formCaption{font-size: 12px; text-transform: uppercase; font-weight: bold; color: #0A92BF;}
.verticalNavigationBar .section .module a{font-family: Georgia, 'Times New Roman', serif; color: #066486;}
.verticalNavigationBar .section .folder{border-left: 1px solid #ACACA3; padding-left: 11px; margin-left: 4px; border-color: #ACACA3;}
#pageHeader{line-height: 1em; padding-top: 20px; padding-bottom: 17px;}
.h1subtitle{font-family: Georgia, 'Times New Roman', serif; font-size: 18px; line-height: 1em; font-weight: normal; margin-top: 16px; color: #0A92BF;}
#canvasWrapper{padding-left: 1px; margin-right: auto; margin-left: auto;}
#pageFooter{font-size: 11px; border-top: 1px solid #000000; text-transform: uppercase; line-height: 1em; padding-top: 10px; padding-bottom: 30px; color: #999999; border-color: #000000;}
.verticalNavigationBar .section{font-family: Georgia, 'Times New Roman', serif; font-size: 12px; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; background-color: #DCF0EA;}
.verticalNavigationBar .section .active-module a{color: #066486;}
.horizontalNavigationBar .module a{font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; line-height: 1em; font-weight: bold; margin-right: 20px; margin-bottom: 6px; color: #066486;}
.journal-entry-wrapper{border-bottom: 1px solid #000000; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px; background-color: #FFFFFF; border-color: #000000;}
.verticalNavigationBar li{border-bottom: 1px solid #B3B5AC; border-color: #B3B5AC;}
.verticalNavigationBar ul{border-top: 1px solid #B3B5AC; border-color: #B3B5AC;}
blockquote{font-family: Georgia, 'Times New Roman', serif; font-style: italic;}
input.text, textarea{border: 2px solid #B7B6B6; border-color: #B7B6B6;}
.journal-entry{font-family: Georgia, 'Times New Roman', serif; font-size: 14px;}
.discussion-table-row .updated-cell{font-size: 10px;}
.discussion-table-row .replycount-cell{font-size: 26px;}
.discussion-table-row .viewcount-cell{font-size: 16px;}
.discussion-table-row .topic-cell .topic-author{font-size: 11px;}
.discussion-table-row .topic-cell .topic-title{font-size: 14px;}
.discussion-table-row .topic-cell{padding-right: 0px; padding-left: 0px; padding-top: 7px; padding-bottom: 5px;}
.discussion-table-row td{border-bottom: 1px solid #CCCCCC; padding-right: 2px; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #CCCCCC;}
.discussion-table-header td{font-size: 12px; border-bottom: 1px solid #CCCCCC; font-weight: bold; padding-right: 2px; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #CCCCCC;}
.post-data-chat .dialogue .line{padding-bottom: 8px;}
.post-data-chat .dialogue .line .speaker{font-weight: bold;}
.post-data-quote .quote{font-size: 36px; line-height: 40px;}
.post-data-quote .source{font-size: 16px; line-height: 18px; padding-left: 12px;}
.horizontalNavigationBar .module a:hover{border-bottom: 0px null inherit; color: #000000;}
a:hover{text-decoration: underline; color: #000000; border-color: #000000;}
.verticalNavigationBar .section .module a:hover{border-bottom: 1px dotted #000000; color: #000000; border-color: #000000;}
h2.title a:hover{border-bottom: 0px null inherit; color: #000000;}


.promotedContainer, #navigationTop { display: none; } #navigationBottom { display: block; }

#canvasWrapper { width: 995px; padding: 0 19px 0 19px; } #sidebar1Wrapper { display: block; float: right; width: 180px; padding: 0; } #sidebar2Wrapper { display: block; float: right; width: 137px; padding: 0; padding-right: 20px; } #contentWrapper { float: left; width: 638px; }

#navigationTop .horizontalNavigationBar { width: 995px; }

#navigationTop .horizontalNavigationBar .folder-open .module a { margin-left: 0; }

#navigationBottom .horizontalNavigationBar { width: 995px; }

#navigationBottom .horizontalNavigationBar .folder-open .module a { margin-left: 0; }

.journal-entry-tag-pre-title .inline-icon { display: none; }

.journal-entry-tag-post-title .inline-icon { display: none; }

#sidebar1 .content-passthrough .search-form-pt .queryField { width: 70px; }

#sidebar2 .content-passthrough .search-form-pt .queryField { width: 27px; }

textarea { padding: 1px 3px; }

.verticalNavigationBar a, .verticalNavigationBar a:hover {border-bottom:0 !important;}

.verticalNavigationBar ul.archive-item-list-pt {border-top:0; margin-bottom:0;}

.verticalNavigationBar li li {border-bottom:0;}

